aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.8.1
anyio==3.6.1
Arpeggio==1.10.2
asgiref==3.5.2
async-timeout==4.0.2
asyncio==3.4.3
atomicwrites==1.4.1
attrs==21.4.0
beautifulsoup4==4.11.1
black==22.6.0
boto3==1.24.36
botocore==1.27.36
bs4==0.0.1
CacheControl==0.12.11
cachy==0.3.0
certifi==2022.6.15
charset-normalizer==2.1.0
cleo==0.8.1
click==8.1.3
clikit==0.6.2
colorama==0.4.5
commonmark==0.9.1
crashtest==0.3.1
Cython==0.29.32
decorator==5.1.1
dill==0.3.5.1
distlib==0.3.5
Django==4.0.6
dnspython==2.2.1
ecdsa==0.18.0
email-validator==1.2.1
fastapi==0.79.0
faunadb==4.2.0
filelock==3.7.1
Flask==2.1.3
frozenlist==1.3.0
future==0.18.2
geocoder==1.38.1
greenlet==1.1.2
grpcio==1.47.0
h11==0.13.0
h2==2.6.2
hpack==3.0.0
html5lib==1.1
httptools==0.4.0
hyper==0.7.0
hyperframe==3.2.0
idna==3.3
iniconfig==1.1.1
iso8601==1.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
keyring==23.7.0
lockfile==0.12.2
Mako==1.2.1
MarkupSafe==2.1.1
msgpack==1.0.4
multidict==6.0.2
mypy-extensions==0.4.3
names==0.3.0
orjson==3.7.8
packaging==21.3
parver==0.3.1
pastel==0.2.1
pathspec==0.9.0
pexpect==4.8.0
Pillow==9.2.0
pipenv==2022.7.24
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
poetry==1.1.14
poetry-core==1.0.8
protobuf==4.21.4
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pulumi==3.37.0
pulumi-aws==5.10.0
py==1.11.0
pyasn1==0.4.8
pydantic==1.9.1
Pygments==2.12.0
pylev==1.4.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
python-nmap==0.7.1
pywin32-ctypes==0.2.0
PyYAML==6.0
qrcode==7.3.1
ratelim==0.1.6
requests==2.28.1
requests-toolbelt==0.9.1
rich==12.5.1
rsa==4.9
s3transfer==0.6.0
semver==2.13.0
shellingham==1.4.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
sqlalchemy2-stubs==0.0.2a24
sqlmodel==0.0.6
sqlparse==0.4.2
starlette==0.19.1
tomli==2.0.1
tomlkit==0.11.1
typing_extensions==4.3.0
tzdata==2022.1
ujson==5.4.0
urllib3==1.26.10
uvicorn==0.17.6
virtualenv==20.16.1
virtualenv-clone==0.5.7
watchgod==0.8.2
webencodings==0.5.1
websockets==10.3
Werkzeug==2.2.1
yarl==1.7.2
